language: node_js

cache:
  npm: true
  directories:
    - node_modules

branches:
  only:
    - master

notifications:
  email: false

node_js:
  - 8

before_install:
  - npm install coveralls

script:
  - npm run coveralls
