@import url("https://fonts.googleapis.com/css?family=Niramit:300,400,700");

body {
  font-family: "Niramit", sans-serif;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
}

.profile--header {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-areas: "title searchbar";
  margin: 2rem 0;
}

.header--title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.profile--content {
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-areas: "sidebar content";
  background-color: #fafafa;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0px 5px 25px 5px rgba(240, 240, 240, 0.75);
  -moz-box-shadow: inset 0px 5px 25px 5px rgba(240, 240, 240, 0.75);
  box-shadow: inset 0px 5px 25px 5px rgba(240, 240, 240, 0.75);
}

.content--sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eee9e9;
  margin: 2rem;
  padding: 1rem;
}

.content--container {
  grid-area: content;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  grid-template-areas: "by-activity" "by-language" "by-repository";
  margin: 2rem 0;
  padding: 0 1rem 0 0;
  align-items: flex-start;
}

input[type="text"] {
  font-family: "Niramit", sans-serif;
  background-color: #f6f6f6;
  border: 0;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
}

input::placeholder {
  font-family: "Niramit", sans-serif;
  color: #d0d2d5;
  font-weight: bold;
}

.sidebar--header {
  text-align: center;
  border-bottom: 2px solid #f6f6f6;
  width: 100%;
}

.sidebar--avatar {
  margin: 0 auto;
  height: 15rem;
  width: 15rem;
  position: relative;
}

.sidebar--avatar img {
  border-radius: 9999px;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

@keyframes cycle-colors {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  25% {
    border-color: hsl(90, 100%, 50%);
  }
  50% {
    border-color: hsl(180, 100%, 50%);
  }
  75% {
    border-color: hsl(270, 100%, 50%);
  }
  100% {
    border-color: hsl(360, 100%, 50%);
  }
}

@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.sidebar--avatar::before,
.sidebar--avatar::after {
  animation: pulse 2s linear infinite;
  border: #fff solid 8px;
  border-radius: 9999px;
  box-sizing: border-box;
  content: " ";
  height: 140%;
  left: -20%;
  opacity: 0.6;
  position: absolute;
  top: -20%;
  transform: scale(0.714);
  width: 140%;
  z-index: 1;
}

.sidebar--avatar::after {
  animation-delay: 1s;
}

.sidebar--avatar:hover::before,
.sidebar--avatar:hover::after {
  animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.sidebar--avatar:hover::after {
  animation-delay: 0.5s;
}

/* End Animation */

.sidebar--info {
  padding: 1.5rem 0;
}

.statistic--box {
  background-color: #ffffff;
  border: 1px solid #eee9e9;
  padding: 1rem;
  border-radius: 0.5rem;
}

.statistics-by-language {
  grid-area: by-language;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.statistics-by-repository {
  grid-area: by-repository;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.statistics-by-activity {
  grid-area: by-activity;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-template-areas: "activity-chart repositories" "activity-chart starred" "activity-chart extra";
  justify-items: center;
}

.activity--chart {
  grid-area: activity-chart;
}

.activity--repositories {
  grid-area: repositories;
}

.activity--starred {
  grid-area: starred;
}

.activity--extra {
  grid-area: extra;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar--following {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.5rem;
}

.follow-box {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "follow-icon follow-number" "follow-icon follow-text";
  align-items: center;
}

.follow-icon {
  grid-area: follow-icon;
}

.follow-number {
  grid-area: follow-number;
}

.follow-text {
  grid-area: follow-text;
}

.activity--box {
  min-width: 20rem;
  min-height: 8rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #eee9e9;
}

.activity--stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "stats-icon stats-number" "stats-icon stats-title";
  justify-items: center;
  align-items: center;
}

.stats--icon {
  grid-area: stats-icon;
}

.stats--number {
  grid-area: stats-number;
}

.stats--title {
  grid-area: stats-title;
  font-size: 1.5rem;
}
