body {
  background-color: #1c1145;
  height: 100vh;
}

section.profile--container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-template-areas: "sidebar content";
}

.statistics--extras {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem 1rem;
  justify-items: flex-start;
  grid-template-areas: "graphic-info statistics-followers" "graphic-info statistics-repositories" "graphic-info statistics-starred";
}

.graphic-info {
  grid-area: graphic-info;
  justify-self: stretch;
}

.statistics--box {
  padding: 1rem;
  background-color: #231555;
}

.statistics-followers {
  grid-area: statistics-followers;
}

.statistics-repositories {
  grid-area: statistics-repositories;
}

.statistics-starred {
  grid-area: statistics-starred;
}

.profile--avatar {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

section.profile--sidebar {
  grid-area: sidebar;
  margin: 1rem 0;
  justify-self: center;
}

section.profile--content {
  grid-area: content;
}

div.statistics--by-language {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  justify-items: center;
}

div.statistics--by-repository {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  justify-items: center;
}

div.profile--box {
  margin: 1rem;
  background-color: #231555;
  padding: 2rem;
  -webkit-box-shadow: -5px -5px 40px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px -5px 40px -7px rgba(0, 0, 0, 0.75);
  box-shadow: -5px -5px 40px -7px rgba(0, 0, 0, 0.75);
}
